.boton{
    display: flex;
    align-items: center;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color:#FFffFF;
    font-size: 200;
    text-align: center;
}
#boton_1{
    background-color: green
}
#boton_2{
    background-color: rgba(255, 34, 34, 0.8);
}
#boton_3{
    background-color: yellow;
    align-content: center;

}

.tabla,.porcentajes,.candidatos{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}

#cons{
    color: white;
    justify-content: flex-start;
}
#sec-contenido{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex;

}
.botones{
    display: inline-flex;
    width: 70px;
    height: 120px;
    color:#FFffFF;
    margin: 2px;
    border-radius: 5px;
    font-size:  10;
    padding-left: 7%;
}
.p_escriturado {
    background-color: rgb(112, 76, 159);
}
.mesas_computadas{
    background-color:  rgba(79, 173, 255, 0.932);
}
.Electores{
    background-color:rgb(221, 90, 134);
}
.icon_botones
{
    height: 70px;
}
.porcentajes{
    display:block;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 200%;
}
.candidatos{
    display:block;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 100px;
}

.contenido{
    border-radius:  2px;
    background-color: gainsboro;
}
.elecc{
    justify-content: flex-start;
    align-items: center;
    }
.svg{
    padding-left: 100px;
    padding: 50px;
    margin: 10px;
    width: 450px ;
    height:200px ;
    
}
.descrip{
    padding-left: 15%;
    align-items: center;
}
#paso{
    background-color:magenta ;
    color:white;
    justify-content: flex-start;
}
#general{
    background-color:aqua ;
    color:white;
    justify-self: start;

}
#inicio{
    background-color:gainsboro ;
    color:white;
    justify-content: end;

}