body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(235, 245, 251);;
}
/* head */
.header-page {
    background-color: #18a0fb;
    Padding: 0.5em;
    flex: 90%;
    height: 40px;
    color: white;
    display: flex;
    justify-content:start;
    align-items: center;
    margin: 0 auto;
}
.logo{
    margin:0px;
    width: 30px;
}
.titulosup {
    display: block;
    font-size: x-small;
    margin: 0px;
}
.barra1 {
    margin-top: 0px;
    /*margin-left: 13px ;
    margin-right: 13px ; se comenta este requisito pedido porque sino no queda como la imagen del ejemplo 
    padding-top: 20px;*/
    flex: 100%;
    list-style: none;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1px;
    background-color: #333;
}
.barra1 > li {
    display: flex;
    margin: 40px;
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    align-items: center;
    justify-items: flex-end;
}
li > a {
    font-size: x-small;
    text-decoration: none;
    margin : 3px;
    font-size: x-small ;
    color: white;
}
/*footer*/
.piedepag{
    background-color: #333;
    color: #9e9e9e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
}
.imgfooter{
    align-self: flex-start;
    height: 40px;
    margin: 15px;
}