#Cont_botonera{
    display: flex;

}
.icon_botones{
    width: 70px;
}
.boton_inf{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.boton_informe{
   margin-right: 500px;
   margin-left: 20px;
   height: 25px;
   width: 170px;
   border: none;
   border-radius: 5px;
   background-color:#dbd8d8; /*color igual al de la imagen, gris claro de css mas oscuro*/
   color: white;
}

.div_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
}

.boton1 , .boton2 , .boton3 {
    display: flex;
    height: 90px; 
    align-items: center;
}
.mesas_computadas , .Electores , .p_escriturado {
    display: flex;
    align-items: center;
    height: 80px ;
    border-radius: 15px;
    width: 220px;
}
.p_escriturado {
    background-color: rgb(112, 76, 159);
    color: white;
}
.mesas_computadas{
    background-color:  rgba(79, 173, 255, 0.932);
    color: white;
}
.Electores{
    background-color:rgb(221, 90, 134);
    color: white;
}
.barra1 {
    margin-top: 0px;
    list-style: none;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    background-color: #333;
}
.seleccionables{
   color: white;
   margin-right: 15px;
}
select{
    background-color: #333;
    color: white;
    border: none;
}
.filtro {
    padding: 0 2px;
    display: flex;
    background-color:white;
    border: solid 1px white;
    border-radius: 15px;
    align-content: center;
    width: 100px;
}
.filtro1{
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    width: 60px;
}
.inic_boton{
    display: flex;
    width: 50px;
    height: 15px;
    justify-content: flex-end;
    align-items: center;
    flex: 10%;
    padding: 10px;
    margin: 10px
     
}
.BotonInicio{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 1px #dbd8d8;
    background-color: #dbd8d8;
    border-radius: 5px;
    color:#333;
}